doctype html
html(ng-app='app')
    include ./header.jade
    body
        div.container
            block header
                div.page-header
                    h1 Angular Modal
                        = ' '
                        small AngularJS component

                div.well
                    p This plugin provides an extension of Bootstrap Modal for AngularJS.

            div.jumbotron
                block content
